hypercorn
fastapi
opentelemetry-instrumentation-fastapi
xarray
metpy
seawater
geopy
netCDF4
pyresample
flask-Compress
flask-SQLAlchemy
marshmallow
cmocean
cartopy
pyproj<3.6.0
scikit-image
basemap
visvalingamwyatt
debugpy
