hypercorn
fastapi==0.85.0
opentelemetry-instrumentation-fastapi
xarray
metpy
seawater
geopy
netCDF4
pyresample
flask-Compress
flask-SQLAlchemy
marshmallow
cmocean
cartopy
pyproj @ git+https://github.com/pyproj4/pyproj.git@c77e346d4e0ecc07cdc495fcaefafea09a8dde5c
scikit-image==0.21.0
basemap
visvalingamwyatt
debugpy
