/* Annotation toggle button */
.annotation-button {
  position: absolute;
  right: 347px;
  top: 8px;
  font-size: small;
  background-color: #fff;
  color: #008cba;
  border: 2px solid #008cba;
  border-radius: 5px;
}
.annotation-button.active {
  background-color: #008cba;
  color: white;
  border-color: #008cba;
}

