.AreaWindow {
  .settings-col {
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .plot-col {
    padding: unset;
    display: flex;
    justify-content: center;
  }

  .global-settings-card {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
