body {
    font-family: sans-serif;
  }
  
  input {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 300px;
    margin: 10px 0px 0px 5px;
  }
  
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 300px;
    position: absolute;
    z-index: 10;
    margin-left: 5px;
    background-color: #fff;
    font-size: small;
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008cba;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }