div.axis-range {
  display: flex;
  flex-direction: column;

  .range-label {
    margin: 10px 0px;
    font-size: small;
  }

  .range-table {
    display: flex;
  }

  .range-input {
    width: 90px;
  }
}
