.dd-group {
  .col {
    align-items: center;
    width: 100%;
    max-width: 100px;
  }

  .row {
    margin: 0;
    flex-wrap: nowrap;
  }

  .dd-toggle:hover {
    background-color: #fff;
    color: #000;
  }

  .dd-toggle {
    display: block;
    width: 100%;
    padding: 0.375rem 1.5rem 0.375rem 0.5rem;
    -moz-padding-start: calc(0.5rem - 3px);
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 16px 12px;
    border: 0px;
    border-bottom: 1px solid;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: min-content;
    padding-bottom: 0;
    margin: 5px;
  }

  .dd-toggle-horizontal {
    width: auto;
    max-width: 300px;
  }

  @media (prefers-reduced-motion: reduce) {
    .dd-toggle {
      transition: none;
    }
  }

  .dd-toggle:focus {
    background-color: #fff;
    color: #000;
    border-color: #80c6dd;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 140, 186, 0.25);
  }

  .dd-toggle::after {
    display: none;
  }

  .dd-menu:disabled {
    // z-index: 100;
    // overflow-y: scroll;
    // height: 50vh;
    background-color: #008cba;
  }

  .dd-submenu:disabled {
    // z-index: 100;
    // overflow-y: scroll;
    // height: 50vh;
    background-color: lightgray;
  }

  .dd-subgroup-label {
    font-size: 15px;
    color: #6f6f6f;
    line-height: 1.4;
    border-bottom: 1px solid #cccccc;
    text-transform: uppercase;
  }

  .dd-option-button {
    max-width: 300px;
    text-align: left;
    font-size: small;
    color: #6f6f6f;
    line-height: 1.4;
    border: none;
    background-color: #ffffff;
    word-wrap: break-word;
  }

  .dd-option-button-horizontal {
    width: auto;
  }

  .dd-option-button:hover {
    color: #ffffff;
    background-color: #008cba;
  }
}
