div.DatasetSelector {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

div.DatasetSelector-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.go-button{
  margin: 5px;
}

.loading-modal {
  top: 33%;
  z-index: 100;
  .modal-content {
    width: 200%;
    transform: translateX(-25%);
  }
}