div.DatasetPanel {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

div.DatasetPanel-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.go-button {
  margin: 5px;

}

.go-button:hover {
  background-color: #fff;
  border: 1px solid #008cba;
  color: #008cba;
}

.loading-modal {
  top: 33%;
  z-index: 100;
  .modal-content {
    width: 200%;
    transform: translateX(-25%);
  }
}

.axis-range-accordion {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .accordion-item {
    border: 0;
    background: transparent;
  }
  .accordion-header {
    margin: 0;
  }
  .accordion-button {
    padding: 0.5rem 0;
    font-size: small;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;  
    &:not(.collapsed) {
      color: #000000;
      background-color: transparent;
      box-shadow: none;
    } 
    &:focus {
      box-shadow: none;
    }

    &::after {
      margin-left: auto;
      margin-right: 0;
    }         
  }
  .accordion-body {
    padding: 0.25rem 0 0.5rem;
  }
}
