.dataset-selector {
  .dataset-selector-label-row {
    margin: 10px 0px;
  }
  .dataset-selector-label {
    font-size: small;
    font-weight: bold;
  }

  .dataset-selector-toggle {
    margin-top: 2px;
  }

  .dataset-selector-toggle::after {
    display: none;
  }

  .dataset-selector-toggle-label {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }

  .dataset-selector-subgroup-label {
    font-size: 15px;
    color: #6f6f6f;
    line-height: 1.4;
    border-bottom: 1px solid #cccccc;
    text-transform: uppercase;
    width: 100%;
  }

  .dataset-selector-option-button {
    max-width: 300px;
    text-align: left;
    font-size: small;
    color: #6f6f6f;
    line-height: 1.4;
    border: none;
    background-color: #ffffff;
    word-wrap: break-word;
  }

  .dataset-selector-option-button-horizontal {
    width: auto;
  }

  .dataset-selector-option-button:hover {
    color: #ffffff;
    background-color: #008cba;
  }

  .dataset-selector-menu {
    overflow-y: scroll;
    height: 50vh;
    width: 100%;
  }
}

.dataset-selector-vertical {
  width: 100%;
}

.dataset-selector-horizontal {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
