.loading-overlay {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-filters {
  padding: 12px;
}

.container-label {
  margin: 10px 0px;
}

.react-datepicker-wrapper {
  margin-left: 5px;
  padding-top: 6px;
}

.latlon-column {
  padding-left: 0px;
  padding-top: 6px;
  margin-left: 5px;
}

.dataset-list {
  max-height: 500px;
  overflow-y: auto;
}
