Div.drawing-tools {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 118px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  .plot-toggle {
    background-color: #008cba;
    border-radius: 5px;
    border-color: #fff;
  }

  .plot-button {
    border-radius: 5px;
    border-color: #fff;
  }

  .undo-button {
    border-radius: 50%;
    border-color: #fff;
  }

  .close-button {
    border-radius: 5px;
    background-color: #ff0000;
    border-color: #fff;
  }
}

.compare {
  bottom: 158px !important;
}
