div.DrifterSelector {
    .inputs {
        display: flex;
        > .input {
            // width: 32%;
            // display: inline-block;
            flex: 1 1 0;
        }
    }
}

.drifter-modal {
    width: auto;
    min-width: 600px;
    max-width: 75%;
}

