.feature-card {
  border: 2px solid #008cba;
  margin: 16px 0px;

  .card-header {
    background-color: #008cba;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
  }
}
