.wf-fontawesome-n4-active .Icon {
    span.alt {
        display: none;
    }
    span.fa {
        display: inline-block;
    }
}

.wf-fontawesome-n4-inactive .Icon, .Icon {
    span.fa {
        display: none;
    }
    span.alt {
        display: inline-block;
    }
}
