
div.input {
    padding: 0.5em;

    > div {
        padding: 0;
    }

    h1 {
        margin-top: 0.5em;
        font-weight: bold;

        span {
            display: block;
            float: right;
            font-weight: normal;
            font-size: 80%;
            border: 1px solid grey;
            padding: 2px;
            margin-bottom: 1px;
            margin-top: -3px;
            cursor: pointer;
        }
    }

    table {
        width: 100%;

        input {
            width: 100%;
        }
    }

    select {
        width: 100%;
    }

    input:not([type='checkbox']) {
        width: 100%;
    }

    input[type='checkbox'] + label {
        padding-left: 0.5em;
        padding-bottom: 0.5em;
        max-width: 90%;
    }

    label.forcheckbox {
        display: block;
        padding-left: 1.25em;
        text-indent: -1.25em;

        input {
            font-size: 100%;
            width: 1.25em;
            vertical-align: middle;
        }
    }
}

.ie .helpdialog .modal-content {
    height: 100%;
}

.helpdialog {
    margin: 30px auto;
    max-height: calc(100vh - 60px);
    height: 100%;

    .modal-content {
        display: flex;
        flex-direction: column;
        max-height: 100%;

        .modal-header {
            flex: 0 0 auto;
        }
        .modal-body {
            flex: 1 1 auto;
            overflow-y: auto;
        }
        .modal-footer {
            flex: 0 0 auto;
        }
    }

    p {
        margin-top: 1em;
    }

    em {
        font-weight: bold;
    }

    ul {
        list-style: disc;
        margin-left: 1.5em;
    }

    h1 {
        font-size: 150%;
        margin-top: 0;
    }

    img {
        display: block;
        margin: 1em auto;
    }

}
