
.MapToolbar {
    width: 100%;
    min-height: $toolbar-height;
    background-color: $toolbar-color;
    padding: 0 0.25em;

    > div, > button, > span {
        margin: 0.25em;
    }

    .dropdown-menu {
        max-height: calc(100vh - #{2 * $toolbar-height});
        overflow-y: auto;
    }

}

.navbar {
    margin-bottom: 0;
    font-size: 16px!important;
}

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a {
    font-size: 14px;
}

@media (min-width: 1200px) {
.container {
    width: 100%;
}
}

@media (min-width: 768px) {
.navbar-nav > li > a {
}
}