.multimap {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .Map {
        width: 100%;

        > div {
            position: relative;
            max-height: 100%;
            max-width: 100%;
        }
    }
}
.Map {
    position: relative;
    cursor: crosshair;
    border: 5px solid $toolbar-color;

    > div {
        height: 100%;
        position: fixed;
        width: 100%;
        max-height: calc(100% - #{$toolbar-height});
    }

    // Map scale
    .scale-viewer {
        top: 0.5em;
        left: 0.5em;
        background-color: transparent;
        opacity: 0.95;
        cursor: default;

        :hover {
            background-color: transparent;
            cursor: default;
        }
    }

    // Zoom controls
    .ol-zoom {
        left: 7em;
        opacity: 0.95;
        border-radius: 0;
        cursor: default;
    }

    .ol-zoom-in, .ol-zoom-out {
        opacity: 0.95!important;
        border-radius: 0;
    }

    // Mouse coordinates
    .ol-mouse-position {
        top: inherit;
        bottom: 0;
        left: 0;
        right: inherit;
        background-color: white;
        opacity: 0.95;
        cursor: default;

        div {
            display: block;
            padding: 0.5em;
        }
    }

    .ol-popup {
        opacity: 0.95;
        padding: 0.5em;
        border-radius: 5px;
        line-height: 1.5;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.25));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));

        // Plotted data tooltip
        &.title {
            position: relative;
            background-color: #fff;
            min-height: $tooltip-height;
            text-align: center;

            span {
                display: block;
                font-size: x-small;
                margin-top: 0.3em;
            }

            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;

                border-left: $tooltip-arrow-size solid transparent;
                border-right: $tooltip-arrow-size solid transparent;
                border-top:$tooltip-arrow-size solid #fff;
                bottom: -$tooltip-arrow-size;
                right: calc(50% - #{$tooltip-arrow-size});
            }
        }

        // Click popup
        &.ballon {
            position: absolute;
            background-color: #fff;
            padding: 0.75em;
            bottom: 12px;
            left: -50px;
            cursor: text;

            &:before, &:after {
				top: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
            }

            &:before {
                border-top-color: #fff;
                border-width: 11px;
                left: 48px;
                margin-left: -11px;
            }

            &:after {
                border-top-color: #fff;
                border-width: 10px;
                left: 48px;
                margin-left: -10px;
            }

            a {
                text-decoration: none;
                position: absolute;
                top: 5px;
                right: 5px;

                &:after {
                    content: "✖";
                }
            }

            p {
                white-space: nowrap;
                font-size: 90%;
                margin-right: 1em;
            }

        }
    }
    .ol-popup {
    }

    .ol-popup:before {
    }

    .ol-attribution {
        bottom: 0;
        right: 0;
        border-radius: 0;
        font-size: 0.5em;
        max-width: 75%;
        cursor: default;

        &.ol-uncollapsible {
            height: auto;
        }

        ul {
            li {
                font-size: 75%;
            }
            li + li {
                &:before {
                    content: "\2022 ";
                }
            }
        }
    }
}
