
div.MapInputs {
    overflow-y: auto;
    
    padding: 0.25em; 
    padding-left: 0.5em; 
    height: calc(100% - 50px);
 
    padding-right: 0.5em; 
    // Reduce padding of Bootstrap panel
    .panel {
        margin-bottom: 10px; 
    }

    .nav-tabs {
        li {
            a {
                font-size: 110%;
            }
        }
    }
}

// Move sidebar onto screen when open
/*.MapInputs.open {
    width: $sidebar-width - 2.75%;
}*/

