.Map {
    position: relative;

    > div {
        height: 100%;
        position: fixed;
        width: 100%;
        max-height: calc(100% - #{$toolbar-height});
        max-width: calc(100% - #{$sidebar-width});
    }

    .scale-viewer {
        top: 0.5em;
        right: 0.5em;
        background-color: transparent;

        :hover {
            background-color: transparent;
        }
    }

    .ol-mouse-position {
        top: inherit;
        bottom: 0;
        left: 0;
        right: inherit;
        background-color: white;

        div {
            display: block;
            padding: 0.5em;
        }
    }

    .ol-popup {
        &.title {
            position: relative;
            background-color: $tooltip-color;
            filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.4));
            padding: 0.25em;
            color: white;
            min-height: $tooltip-height;
            border-radius: 5px;
            text-align: center;

            span {
                display: block;
                font-size: x-small;
                margin-top: 0.3em;
            }

            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;

                border-left: $tooltip-arrow-size solid transparent;
                border-right: $tooltip-arrow-size solid transparent;
                border-top:$tooltip-arrow-size solid $tooltip-color;
                bottom: -$tooltip-arrow-size;
                right: calc(50% - #{$tooltip-arrow-size});
            }
        }

        &.ballon {
            position: absolute;
            background-color: white;
            -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            bottom: 12px;
            left: -50px;

            &:before, &:after {
				top: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
            }

            &:before {
                border-top-color: #cccccc;
                border-width: 11px;
                left: 48px;
                margin-left: -11px;
            }

            &:after {
                border-top-color: white;
                border-width: 10px;
                left: 48px;
                margin-left: -10px;
            }

            a {
                text-decoration: none;
                position: absolute;
                top: 2px;
                right: 8px;

                &:after {
                    content: "✖";
                }
            }

            p {
                white-space: nowrap;
                font-size: 90%;
                margin-right: 1em;
            }

        }
    }
    .ol-popup {
    }

    .ol-popup:before {
    }

    .ol-attribution {
        bottom: 0;
        right: 0;
        border-radius: 0;
        font-size: 0.5em;
        max-width: 75%;

        &.ol-uncollapsible {
            height: auto;
        }

        ul {
            li {
                font-size: 75%;
            }
            li + li {
                &:before {
                    content: "\2022 ";
                }
            }
        }
    }
}
