
.MapToolbar {
    width: 100%;
    min-height: $toolbar-height;
    background-color: $toolbar-color;
    padding: 0 0.25em;

    > div, > button, > span {
        margin: 0.25em;
    }

    .dropdown-menu {
        max-height: calc(100vh - #{2 * $toolbar-height});
        overflow-y: auto;
    }

    a {
        font-size: 14px;
    }
}