Div.MapInputs {
  background-color: #fff;
  opacity: 0.9;
  position: absolute;
  z-index: 10;
  width: 90%;
  min-width: 1000px;
  height: 90px;
  left: 5%;
  bottom: 8px;
  border-radius: 5px;
  border: 2px solid #008cba;
  margin: auto;
  margin-bottom: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
