.map-inputs-container {
  position: absolute;
  bottom: 8px;
  width: 100%;
  z-index: 10;
}

.dataset-selector-container {
  display: flex;
  justify-content: center;
}

.map-inputs {
  background-color: #fff;
  opacity: 0.9;
  width: -webkit-fill-available;
  max-width: 90%; 
  border-radius: 5px;
  border: 2px solid #008cba;
  margin: 0px 8px;
  margin-bottom: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.hide-data-button,.hide-data-button-compare {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 20px;
  width: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 20;
}

