.navbar {
    margin-bottom: 0;
    font-size: 16px!important;
}

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a {
    font-size: 14px;
}

.alert-warning{
    color: #000;
    font-weight: bold;
}

.alert .alert-link{
    color: #132c8c;
}

.alert{
    margin-bottom: 0;
}


.container {
    width: 100%;
}


