div.ObservationSelector {
    .inputs {
        display: flex;
        > .input {
            flex: 1 1 0;
        }
    }
}

.observation-modal {
    width: auto;
    min-width: 600px;
    max-width: 75%;
}

