.observation-selector {
  .obs-card {
    margin-top: 5px;
    margin-bottom: 5px;

    .obs-card-header {
      display: flex;
      flex-direction: row;
    }

    .obs-card-body {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      gap: 25px;

      .obs-input-label {
        font-size: small;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }

  .slider-container {
    width: 95%;
    margin: 10px auto;
  }
}