body {
    font-family: $font-family;

    input, select {
        font-size: 0.75em;
    }

    .nav-tabs {
        font-size: 0.8em;
        height:120px;

        >li {
            clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
            width: 60px;
            height:120px;
            margin-right: -8px;
            >a {
                height: 100%;

                :hover {
                    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
                    //width: 60px;
                    //height:110px;
                    
                }
            }
        }
        
    }
    #app {
        height:100%;
        >div {
            height:100%;
        }
    }
}
.OceanNavigator {



    .addIceButton {
        clear: right;
        margin-top: 5px;
        float: right;
    }

    .iceSlider {
        clear: right;
        float: right;
    }

    height:100%;
    .LayerOptions {
        width: 20%;
        height: 100%;
    }
    .LayerSelection {
        float: left;
        width: 13.75%;
        height:100%;

        .nav {
            background-color: #008cba;
            height:100%;   
        }
        .hiddenButton {
            height: 20%;
            >a {
                height:100%;
                
            }
        }
        
        
        .currentButton {
            height: 20%;
            background-color: #006687;
            
            >a {
                height:100%;
                
            }
        }
        .settingsButton {
            font-size: 50px!important;
        }

        .vertical {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            height: 100%;
            text-align: center;
            color: white;
        }
    }

    .envTabName {
        transform: rotate(187deg);
        writing-mode: vertical-rl;
    }
    .LayerPanels {
        height: calc(100% - 70px);
        float: right;
        width: 86.25%;

        .Range {
            display: inline-block
        }

        .settings {
            background-color: #006687;
            float: bottom;
            height: 70px;

            >button {
                padding: 0px;
                padding-right: 20px;
                padding-left: 20px;
                vertical-align: middle;
    
                background-color: #006687;
                float: right;
                height: 100%;
                border: none;
                outline: none;
                font-size: 40px;
                color: white;
                
                :hover {
                    font-size: 50px;
                }

            }

        }

        .hiddenPanel {
            display: none;
        }
        .currentPanel {
            display: block;
            background-color: #006687;
            height: 100%;
        }
        
    }
    .MapInputs {
        width: 17.25%;
        left: 2.75%;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: left 0.3s ease-in-out;
    }
    > .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; // Map view takes up full screen width when sidebar closed
        right: 0;
        display: flex;
        flex-flow: column;
        transition: left 0.3s ease-in-out;

        .MapToolbar {
            flex: 0 1 auto;
        }

        .Map {
            flex: 1 1 auto;
        }
    }

}

.checkbox, .alert, .control-label {
    font-size: 95%;
}

// Moves content to the right to fit sidebar
.content.open {
    left: $sidebar-width;
}

.permalink-modal {
    textarea {
        font-size: 1em;
        width: 100%;
    }
}

.busy-modal {
    height: 100%;
    margin: 0 auto;
    .modal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

