.PointWindow {
  .settings-col {
    padding: unset;
    display: flex;
    flex-direction: column;

    .plot-accordion {
      padding: 5px;
    }
  }

  .plot-col {
    padding: unset;
    display: flex;
    justify-content: center;
  }

  .global-settings-card {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .plot-window-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  @media (max-width: 768px) {
    .plot-window-container {
      flex-direction: column;
    }
    .plot-window-container .settings-col,
    .plot-window-container .plot-col {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
