.PointWindow {
    .line {
        border-top: 1px solid #008cba
    }
    .scale {
        display: inline;
        width: 60px;
        height: 39px;
        font-size: 100%;
    }
    .scale_container {
        display: block;
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    .input_container {
        float: right;
    }
    .scale_header {
        font-weight: bold;
        display: inline;
    }

    .label {
        float: right;
        display: inline;
        width: 50%;
        height: 39px;
        font-size: 100%;
        color: black;
    }
    .label_container {
        float: right;
        width: 100%;
        padding-bottom: 10px;
    }
    .label_header {
        font-weight: bold;
        display: inline;
    }
}
