Div.ScaleViewer {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  border: 2px solid #008cba;
  top: 8px;
  left: 8px;
  border-radius: 5px;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  align-items: center;

  .scale-image {
    border-right: 1px solid #008cba;
    cursor: pointer;
  }

  .expand-icon {
    cursor: pointer;
  }

.top-panel-components & {
  position: relative;
  top: auto;
  left: auto;

  &.right {
    left: auto !important;
  }
}
}
.scale-viewer-container {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  align-items: flex-start;
  
  .ScaleViewer {
    position: relative; 
    flex: 0 0 auto; 
    width: auto; 
    
    &.expanded {
      flex: 0 0 auto; 
    }
  }
}
