table.StatsTable {
    width: 100% - $sidebar-width;
    margin: 0.5em auto;

    tbody {
        &:nth-child(even) {
            background-color: #e6e6e6;
        }

        tr.name {
            td {
                font-style: italic;
                text-indent: 0;
            }
        }

        td {
            padding: 0.5em;
            text-align: right;

            &:first-of-type {
                text-indent: 1.5em;
                text-align: left;
            }
        }

    }

    tbody.loading, tbody.fail {
        text-align: center;
        background-color: inherit;
    }

    thead {
        th {
            padding: 0.5em;
            font-weight: bold;
            text-align: center;
        }
    }
}
