.time-slider-container {
  position: relative;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 250px 250px;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 0px 50px;
  height: 100px;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: absolute;
  top: 0px;
  border: 1px solid black;
}

.container::-webkit-scrollbar {
  display: none;
}

.tick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  z-index: 1;
  // margin-right: 20px;
  // border: 2px solid #008cba;
  // background-color: aqua;
}

.slider-minor-tick {
  height: 18px;
  width: 1px;
  vertical-align: middle;
  background-color: #008cba;
  margin: 0px 20px;
  top: 4px;
  position: relative;
}

.slider-major-tick {
  height: 25px;
  width: 3px;
  vertical-align: middle;
  background-color: #008cba;
  margin: 0px 20px;
}

.slider-major-tick-text {
  position: relative;
  display: inline-block;
  color: #008cba;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  top: 25px;
}

.custom-scrollbars__scrollbar {
  position: absolute;
  top: 20px;
  width: 100%;
}

.custom-scrollbars__track-and-thumb {
  display: block;
  height: 100%; /* must have some height */
  position: relative;
  width: 100%;
}

.custom-scrollbars__track {
  background-color: #8f8f8f;
  // border-radius: 12px;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 0;
}

.custom-scrollbars__thumb {
  border: 4px solid #ff0000;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -5px;
  z-index: 3;
}
