.timepicker {
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: -webkit-fill-available;

  .timepicker-label {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 10pt;
    font-weight: bold;
    width: max-content;
  }

  .horizontal {
    width: min-content !important;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .selector-container {
      display: flex;
      align-items: center;

      .date-label {
        font-size: small;
        width: fit-content;
        height: 30px;
        border: none;
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        white-space: nowrap;
      }

      .hour-selector {
        font-size: small;
        width: fit-content;
        height: 30px;
        border: 1px solid #000;
        border-left: none;
        background-color: #fff;
        color: #000;
        white-space: nowrap;
        margin: 0px;
      }
    }

    .header-button {
      color: #008cba;
      background-color: #fff;
      border: none;
      padding: 0px;
    }
  }
}
