
.timeline_container {
    height: 100%;
    display: inline-block;
    opacity: 0.5;

    .time_bar {
        border-top: 2px solid black;
        width: 100%;
        height: 15px;
        position: relative;
        top: -24px;
    }
    .time_thumb {
        display: inline-block;
        position: relative;
        top: -10px;
        width: 5px;
        height: 18px;
        background-color: black;       
    }

    .marker_container {
        
        display: inline-block;
        
        .time_marker {
            background-color: black;
            width: 2px;
            position: relative;
            display: inline-block;
            height: 15px;
        }
    
        .marker_value {
            width: 0px;
            display: inline-block;
            font-size: 15px;
            bottom: 2.515px;
            position: relative;
            color: black;
        }

        .marker_day {
            font-size: 15px;
            top: -18px;
            width: 0px;
            height: 0px;
            position: relative;
            display: inline-block;
            color: black;
        }
    }
    

    .time_current {
        top: -2px;
        border: 2px solid black;
        position: relative;
        background-color: white;
        border-radius: 3px;
        height: 30px;
        margin-top: 3px;
        margin-bottom: 5px;
        left: 1px;
        opacity: 0.5;
        width: 20px;
        font-size: 15px;
        z-index: 2;
        vertical-align: middle;
        position: relative;
        display: block;
        padding-top: 7px;
        padding-left: 3px;
    }
}
