.time-slider {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}

.time-slider-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
}
.slider-content-container {
  display: flex;
  overflow-x: auto;
  padding: 0px 50px;
  height: 100px;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: absolute;
  top: 0px;
}

.slider-content-container::-webkit-scrollbar {
  display: none;
}

.tick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  z-index: 1;
}

.slider-minor-tick {
  height: 15px;
  width: 1px;
  vertical-align: middle;
  background-color: #008cba;
  margin: 0px 20px;
  position: relative;
}

.slider-major-tick {
  height: 15px;
  width: 3px;
  vertical-align: middle;
  background-color: #008cba;
  margin: 0px 20px;
}

.slider-major-tick-text {
  position: absolute;
  display: inline-block;
  color: #008cba;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  top: 25px;
  font-size: 12px;
}

.slider-scrollbar {
  width: 100%;
}

.slider-track-and-thumb {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.slider-track {
  background-color: #008cba;
  bottom: 0;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 3px;
  z-index: 11;
  pointer-events: none;
}

.slider-thumb {
  border: 3px solid #ff0000;
  border-radius: 13px;
  background-color: #fff;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 1px;
  z-index: 12;
}

.nav-button-container {
  min-width: 108px;
  display: flex;
  flex-direction: row;
}

.slider-nav-button {
  color: #008cba;
  background-color: #fff;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  pointer-events: "none";
}

.slider-nav-button:hover {
  background-color: #008cba;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.slider-nav-button:disabled {
  color: grey;
  background-color: #fff;
}
