.toggle-group {
  position: absolute;
  right: 48px;
  top: 8px;

  .toggle-btn {
    font-size: small;
    background-color: #fff;
    color: #008cba;
    border: 2px solid #008cba;
    border-radius: 5px;
  }
}
