.PlotContainer {
    background-color: white;
    width: 99%;
    height: 94%;
    top: 52px;
    position: absolute;
    right: 5px;
}


.PlotSelectionBar {
    text-align: left;
    width: 97%;
    height:50px;

    .icon {

    }
}

.PlotClose {
    width:3%;
    height: 50px;
}

.PlotSelect {
    margin-top: 30px;
    margin-left: 7%;
    width: 15%;
    height: 100px;
}

.PlotImage {
    border: 5px solid black;
    width: 500px;
    height: 500px;
}