$sidebar-width: 17%;
$toolbar-height: 2.5em;
$toolbar-color: rgb(128, 128, 128);
$modal-margin: 1em;

$tooltip-height: 25px;
$tooltip-arrow-size: 8px;
$tooltip-color: rgb(36, 36, 36);

$font-family: sans-serif;

