html, body {
    height: 100%;
}

// Pop up windows
.full-screen-modal {
    width: calc(100% - 2 * #{$modal-margin});
    margin: $modal-margin;

    .modal-content {
        min-height: calc(100% - 2 * #{$modal-margin});
        display: flex;
        flex-direction: column;

        .modal-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;

            flex: 0 1 auto;
        }

        .modal-body {
            flex: 1 1 auto;
        }

        .modal-footer {
            flex: 0 1 auto;
        }
    }

}

br.clear {
    clear: both;
}

