@import url('reset.css');

html, body, #content, #content > div {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
div.inputs {
    max-width: 20%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 0 0.5em;
}

.inputs h1 {
    margin-top: 1em;
    font-weight: bold;
}

.inputs select {
    width: 100%;
}

.plot {
    width: 75%;
    height: 100%;
    max-height: 100%;
    text-align: center;
}

.plot img {
    display: block;
    max-width: 100%;
    max-height: 95%;
    max-height: calc(100% - 3.5em);
    margin: 0.5em auto;
}

.plot div {
    height: 2.5em;
}

.plot .buttonbar * {
    height: 2em;
}
.plot .buttonbar > * + * {
    margin-left: 1em;
}

.range label, .latlon label, .size label {
    min-width: 25%;
    display: inline-block;
}

.transect input, .location input {
    float: right;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid black;
    width: 80%;
}

.map-footer {
    margin-top: 1em;
}

.map-footer input {
    float: right;
}

.overlayselector {
    padding-bottom: 1em;
}

div.sub {
    margin-left: 1em;
}

.overlayselector div.sub div.input {
    display: table;
    width: 100%;
}

.overlayselector div.sub div.input label {
    display: table-cell;
    width: 0;
}

.overlayselector div.sub div.input input {
    display: table-cell;
    width: 100%;
}

.failmessage {
    margin: 1em;
    font-size: 2em;
}

.collapsible > h1 {
    cursor: pointer;
}

.collapsible > h1:before {
    content: "\25bc "
}

.collapsible.collapsed > h1:before {
    content: "\25ba "
}

.collapsible > div {
    display: none;
}

input:not([type='checkbox']), select:not([multiple]) {
    height: 2em;
}

.inputs > div:last-of-type {
    margin-bottom: 1em;
}
