name: Python tests


on:
  push:
    branches: [ master, ]
    paths:
      - '**.py'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]
    paths:
      - '**.py'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
      max-parallel: 5
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0
    - name: Set up Python 3.13.5
      uses: actions/setup-python@v2
      with:
        python-version: 3.13.5
    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: 3.13.5
        # installer-url: https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh
        installer-url: https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh
        allow-softlinks: true
        show-channel-urls: true
        use-only-tar-bz2: true
    - name: Update environment
      run: mamba env update -f config/conda/environment.yml --name test --quiet
    - name: Run tests (activate)
      run: |
        echo PROJ_LIB=$CONDA_BASE/share/proj >> $GITHUB_ENV
        # initialize mamba for the current bash shell
        eval "$(mamba shell hook --shell bash)"
        mamba activate test
        # optional sanity checks
        which python
        python --version
        ./run_python_tests.sh
      shell: bash -l {0}

